includeConfig 'conf/base.config'

plugins {
    id 'nf-google'
}

manifest {
    name            = 'mock_gcloud'
    description     = 'Minimal mock Nextflow pipeline for extracting the first N rows from a Parquet file'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=25.04.0'
}

profiles {
    test {
        includeConfig 'conf/test.config'
    }

    googleCloudTest {
        includeConfig 'conf/google-cloud-test.config'
    }
}
