includeConfig 'gcloud_base.config'

workDir = 'gs://vidra-2-0/nextflow/work/gcloud_test'
cleanup = false

params {
    genes                     = 'gs://vidra-2-0/nextflow/testdata/genes_ensembl_small.csv'
    execution_mode            = 'gcloud'
    gcp_project               = 'open-targets-eu-dev'
    gcp_region                = 'europe-west1'
    gcp_service_account_email = ''
    outdir                    = 'gs://vidra-2-0/nextflow/results/gcloud_test'
    bucket_uri                = "${params.outdir}"
    trace_report_suffix       = "gcloud_test_${new Date().format('yyyyMMdd_HHmmss_SSS')}"
    bayes_gene_max_forks      = 4
}

includeConfig 'gcloud_google.config'
includeConfig 'reporting.config'

process {
    withName: RUN_BAYESIAN_ANALYSIS_PER_GENE {
        maxForks      = params.bayes_gene_max_forks
        errorStrategy = 'retry'
        maxRetries    = 1
        cpus          = 2
        memory        = '4 GB'
        machineType   = 'e2-standard-2'
        disk          = '15.GB'
        time          = { task.attempt > 1 ? '120m' : '10m' }
    }
}
