includeConfig 'local.config'

params {
    genes                    = "${projectDir}/testdata/genes_ensembl_small.csv"
    outdir                   = "${projectDir}/results/test"
    bucket_uri               = "${params.outdir}"
    trace_report_suffix      = "test_${new Date().format('yyyyMMdd_HHmmss_SSS')}"
    bayes_gene_max_forks     = 2
}

process {
    withName: RUN_BAYESIAN_ANALYSIS_PER_GENE {
        cpus   = 1
        memory = '6 GB'
        time   = '120m'
    }
}

includeConfig 'reporting.config'
