params {
    input           = "${projectDir}/testdata/example.snappy.parquet"
    outdir          = "${projectDir}/results"
    n_lines         = 5
    headtext_script = '/app/tools/headtext.py'
}

docker.enabled = true
// Legacy option: docker.runOptions = '--platform linux/amd64'

process {
    executor = 'local'

    withName: HEADTEXT {
        // Legacy local image: container = 'headtext:latest'
        container = 'ghcr.io/cchiiper/otar_vidra:0.1.5'
    }
}
